<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글쓰기</title>
</head>
<style>
    .class-caption {
        width: 100px;
    }

    .class-content {
        width: 500px;
    }
</style>
<script th:inline="javascript">
    function backToList(frm) {
        frm.action = /*[[@{/notice/list}]]*/ "";
        frm.submit();
    }
</script>

<body>
    <h1 style="text-align: center;">글쓰기</h1>
    <form name="articleForm" method="post" th:action="@{/notice/addarticle}">
        <table border="0" align="center">
            <tbody>
                <tr>
                    <td align="right" class="class-caption">글제목</td>
                    <td colspan="2">
                        <input type="text" maxlength="100" name="i_title" class="class-content">
                    </td>
                </tr>
                <tr>
                    <td align="right" valign="top" class="class-caption"><br />글내용: </td>
                    <td colspan="2">
                        <textarea name="i_content" rows="10" maxlength="2000" class="class-content"></textarea>
                    </td>
                </tr>
                <tr>
                    <td align="right"></td>
                    <td colspan="2">
                        <input type="submit" value="저장">
                        <input type="button" value="목록보기" onclick="backToList(articleForm)">
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</body>

</html>